*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #1F2833;
    font-family: sans-serif;
    margin: 0 50px;
}

h1 {
    text-align: center;
} 

.container {
    display: flex;
    justify-content: center;
    height: 300px;
    padding-top: 20px;
    gap: 20px;
    border-top: 1px solid red;
}

.rightSection {
    padding-left: 20px;
} 

#posts {
    max-width: 450px;
    min-width: 250px;
}

p {
    color: white;
    padding-right: 10px;
}

textarea {
    border-radius: 10px;
    padding: 9px 4px 0 5px;
}

.textInput {
    width: 275px;
    height: 24px;
    border-radius: 6px;
    padding: 0 9px;
}

.dateInput {
    height: 23px;
    width: 130px;
    border-radius: 4px;
    text-align: center;
}

i {
    cursor: pointer;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.options {
    display: flex;
    padding-left: 10px;
    gap: 25px;
}
  
#msgError {
    margin-top: 10px;
    text-align: center;
    color: red;
}

button {
    width: 280px;
    height: 25px;
    color: white;
    background-color: #F64C72;
    box-shadow: none;
    cursor: pointer;
}

